<div class="content-wrapper">
    <section class="content">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.17/css/jquery.dataTables.css">

        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.17/js/jquery.dataTables.js"></script>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Cadenas</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registarCadena()" class="form-horizontal form-material" id="loginform" action="index.html">
                <div class="box-body">
                    <label for="">
                        <h4> Crear cadena </h4>
                    </label>
                    <div class="form-group">
                        <label>Ingrese nombre de la cadena:</label>
                        <input formControlName="nombrecadena" name="nombrecadena" type="text" class="form-control" id="nombrecadena" style="width: 350px" required>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class=" box-footer ">
                    <button type="submit " class="btn btn-success ">Crear</button>
                </div>
            </form>
        </div>

    </section>
</div>