<div class="content-wrapper">
    <section class="content">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Cadenas</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registarCadena()" class="form-horizontal form-material" id="loginform" action="index.html">
                <div class="box-body">
                    <div class="form-group">
                        <label>Ingrese nombre de la cadena:</label>
                        <input formControlName="nombrecadena" name="nombrecadena" type="text" class="form-control" id="nombrecadena" style="width: 350px" required>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class=" box-footer ">
                    <button type="submit " class="btn btn-success ">Crear</button>
                </div>
            </form>
        </div>

    </section>
</div>