<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="assets/img/user1-128x128.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>  </p>
                <p>  </p>
            </div>
        </div>
        <!-- search form -->
        <!--form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form-->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <!--Menu-->
            <li class="header">Menú</li>

            <!--Inicio-->
            <li>
                <a routerLink="admin-home">
                    <i class="fa fa-home"></i>
                    <span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Inicio
                            </font>
                        </font>
                    </span>
                </a>
            </li>

            <!--Maestros-->
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-desktop"></i>
                    <span>Maestros</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a routerLink="admin-cadenas">
                            <i class="fa fa-circle-o"></i>Cadenas</a>
                    </li>
                    <li>
                        <a routerLink="admin-programs">
                            <i class="fa fa-circle-o"></i>Programas</a>
                    </li>
                    <li>
                        <a routerLink="admin-creacionEstado">
                            <i class="fa fa-circle-o"></i>Estados</a>
                    </li>
                    <li>
                        <a routerLink="">
                            <i class="fa fa-circle-o"></i>Nivel de formación</a>
                    </li>
                    <li>
                        <a routerLink="admin-documentos">
                            <i class="fa fa-circle-o"></i>Tipos de documentos</a>
                    </li>
                </ul>
            </li>

            <!--Usuarios-->
            <li>
                <a routerLink="admin-registrar">
                    <i class="fa fa-users"></i>
                    <span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Usuarios
                            </font>
                        </font>
                    </span>
                </a>
            </li>

            <!--Subir excel-->
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-cloud-upload"></i>
                    <span>Subir excel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a routerLink="/">
                            <i class="fa fa-circle-o"></i>Juicios evaluativos</a>
                    </li>
                    <li>
                        <a routerLink="/">
                            <i class="fa fa-circle-o"></i>Contratos</a>
                    </li>
                </ul>
            </li>

            <!--Fichas-->
            <li>
                <a href="documentation/index.html">
                    <i class="fa fa-file-text-o"></i>
                    <span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Fichas
                            </font>
                        </font>
                    </span>
                </a>
            </li>

            <!--Aprendices-->
            <li>
                <a href="documentation/index.html">
                    <i class="fa fa-user"></i>
                    <span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Aprendices
                            </font>
                        </font>
                    </span>
                </a>
            </li>

            <!--Informes-->
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-newspaper-o"></i>
                    <span>Informes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a routerLink="/">
                            <i class="fa fa-circle-o"></i>Por ficha</a>
                    </li>
                    <li>
                        <a routerLink="/">
                            <i class="fa fa-circle-o"></i>Total</a>
                    </li>
                </ul>
            </li>

            <!--Seguimiento-->
            <li>
                <a href="documentation/index.html">
                    <i class="fa fa-address-card"></i>
                    <span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Seguimiento
                            </font>
                        </font>
                    </span>
                </a>
            </li>

            <!--Cerrar sesión-->
            <li>
                <a href="documentation/index.html">
                    <i class="fa fa-sign-out"></i>
                    <span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Cerrar sesión
                            </font>
                        </font>
                    </span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>