<div class="content-wrapper">
  <section class="content">

    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-default">
          <div class="box-header with-border">
            <h4 class="box-title">Buscar aprendiz</h4>
          </div>
          <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="assets/img/user1-128x128.jpg" alt="User profile picture">

            <h3 class="profile-username text-center">nombre y apellidos</h3>

            <p class="text-muted text-center">documento</p>

            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>Genero</b>
                <a class="pull-right">info</a>
              </li>
              <li class="list-group-item">
                <b>Telefono</b>
                <a class="pull-right">info</a>
              </li>
              <li class="list-group-item">
                <b>Celular</b>
                <a class="pull-right">info</a>
              </li>
              <li class="list-group-item">
                <b>Correo</b>
                <a class="pull-right">info</a>
              </li>
              <li class="list-group-item">
                <b>Ficha</b>
                <a class="pull-right">info</a>
              </li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>

      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="nav-tabs-custom">
          <div class="box-header with-border">
            <h4 class="box-title">Segumiento</h4>
          </div>
          <div class="tab-content">
            <div class="active tab-pane" id="activity">
              <!-- Post -->
              <div class="post">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label></label>
                      <br>
                      <select name="cadenaFormacion" id="cadenaFormacion" style="width: 50%">
                        <option value="" selected>Estado</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label></label>
                      <br>
                      <select name="nivelFormacion" id="nivelFormacion" style="width: 50%">
                        <option value="" selected>Alternativa</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <textarea class="form-control" rows="6" placeholder="Observación"></textarea>
                </div>
                <div class=" box-footer ">
                  <button class="btn btn-success" type="submit">Crear</button>
                </div>
              </div>
              <!-- /.post -->

              <!-- Post -->
              <div class="post clearfix">
                <div class="row">
                  <div class="col-md-2">
                    <div class="panel panel-default" style="text-align: center">
                      <div class="panel-heading">Fecha</div>
                      <div class="panel-body">
                        <a href="">13/06/2018</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-10">
                    <div class="panel panel-default">
                      <div class="panel-heading">Usuario
                        <label style="margin-left: 80%">Hora</label>
                      </div>
                      <div class="panel-body">
                        <div class="form-group">
                          <textarea class="form-control" rows="6" placeholder="Comentario"></textarea>
                        </div>
                      </div>
                      <div class="panel-footer">
                        <label>Estado | Alternativa</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>

    <div class="box box-default ">
      <div class="box-header with-border">
        <h4 class="box-title">Buscar aprendicez</h4>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
        <div class="box-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Cadena de formación</label>
                <br>
                <select name="cadenaFormacion" id="cadenaFormacion" style="width: 50%">
                  <option value=""></option>
                </select>
              </div>
              <div class="form-group">
                <label>Programa</label>
                <br>
                <select name="rol" id="programa" style="width: 50%">
                  <option value=""></option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Nivel de formación</label>
                <br>
                <select name="nivelFormacion" id="nivelFormacion" style="width: 50%">
                  <option value=""></option>
                </select>
              </div>
              <div class="form-group">
                <label>Ficha</label>
                <br>
                <select name="ficha" id="ficha" style="width: 50%">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->

        <div class=" box-footer ">
          <button class="btn btn-success" type="submit">Buscar</button>
        </div>
      </form>
    </div>

  </section>
</div>