<div class="content-wrapper">
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">Editar Aprendices</h4>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Tipo de Documento:</label>
                                <br>
                                <select name="TipoDocumento" id="TipoDocumento">
                                  <option value="Cedula">Cédula de Ciudadanía</option>
                                  <option value="TarjetaIdentidad">Tarjeta de Identidad</option>
                                  <option value="Pasaporte">Pasaporte</option>
                              </select>
                            </div>
                            <div class="form-group">
                                <label>Nombre:</label>
                                <br>
                                <input type="text" id="nombre" style="width: 50%" required>
                            </div>
                            <div class="form-group">
                                <label>Teléfono:</label>
                                <br>
                                <input type="text" id="telefono" style="width: 50%">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Número de Documento:</label>
                                <br>
                                <input type="text" id="numerodocumento" style="width: 50%" required>
                            </div>
                            <div class="form-group">
                                <label>Apellidos:</label>
                                <br>
                                <input type="text" id="apellidos" style="width: 50%">
                            </div>
                            <div class="form-group">
                                <label>Celular:</label>
                                <br>
                                <input type="text" id="celular" style="width: 50%">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Ficha:</label>
                                <br>
                                <select name="ficha" id="ficha" style="width: 50%">
                                <option value=""></option>
                            </select>
                            </div>
                            <div class="form-group">
                                <label>Género:</label>
                                <br>
                                <select name="genero" id="genero">
                                    <option value="Femenimo">Femenino</option>
                                    <option value="Masculino">Masculino</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Correo Electrónico:</label>
                                <br>
                                <input type="text" id="correo" style="width: 50%">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box ">
                    <div class="box-header ">
                        <h3 class="box-title ">Listado de Fichas</h3>
                        <br>
                        <br>

                        <div class="dataTables_length" id="fichas"><label>Mostrar <select name="example1_length" aria-controls="fichas" class="form-control input-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                </select> Registros</label>
                        </div>
                        <br>




                        <!--Buscador-->
                        <div class="box-tools ">
                            <div class="input-group input-group-sm " style="width: 150px; ">
                                <input type="text " name="table_searchdocumento" class="form-control pull-right " placeholder="Buscar documento ">

                                <div class="input-group-btn ">
                                    <button type="submit " class="btn btn-default ">
                                            <i class="fa fa-search "></i>
                                        </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding ">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>Ficha</th>
                                    <th>Programa</th>
                                    <th>Nivel</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Modalidad</th>
                                    <th>Centro</th>
                                    <th>Estado</th>
                                    <th>Opciones</th>
                                    <th>Activar</th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                    <!-- /.box-body -->


                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Mostrar 1 a 10 de 57 Paginas</div>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Anterior</a></li>
                                    <li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">3</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">4</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">5</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">6</a></li>
                                    <li class="paginate_button next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Siguiente</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 invoice-col">
                    Estado
                </div>
                <div class="col-sm-4 invoice-col">
                    Alternativa
                </div>
                <br>
                <br>


                <div class=" box-footer ">
                    <button class="btn btn-success" type="submit">Actualizar</button>
                </div>
            </form>
        </div>
    </section>
</div>