<div class="content-wrapper">
    <!-- Encabezado-->
    <section class="content-header">

    </section>

    <!-- Contenidot -->
    <section class="content">

        <h3 style="text-align: center">
            Bienvenido a SEP
            <br> seguimiento de etapa
            <br> productiva
        </h3>

    </section>
    <br>
    <p style="text-align: center; text-justify: inter-word;">
        Dar a conocer información sobre las cadenas, programas, estados
        <br> y niveles de formación que hay en el SENA.
        <br> Se podran subir archivos de excel con información de las fichas de
        <br> formación y contratos de aprendizaje para tener un seguimiento de
        <br> los aprendices, y se obtendran informes de cada una de las fichas.
    </p>

</div>