<!--<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">-->
<div class="content-wrapper">
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Usuarios</h3>
            </div>

            <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarUsuario()" class="form-horizontal form-material" id="loginform" action="index.html">
                <div class="row" style="margin-left: 20px">
                    <h4 class="box-title m-t-40 m-b-0">Crear usuario</h4>
                    <br>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Nombre</label>
                            <br>
                            <input formControlName="nombre" name="nombre" class="form-control" type="text" required placeholder="">
                        </div>
                        <div class="form-group ">
                            <label>Correo</label>
                            <br>
                            <input formControlName="email" name="email" class="form-control" type="email" required placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Rol</label>
                            <br>
                            <select name="rol" id="rol" style="width: 100%">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4" style="margin-left: 50px">
                        <div class="form-group ">
                            <label>Contraseña</label>
                            <br>
                            <input formControlName="password" name="password" class="form-control" type="password" required placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Repita contraseña</label>
                            <br>
                            <input formControlName="password2" name="password2" class="form-control" type="password" required placeholder="">
                        </div>
                    </div>
                </div>

                <div class="form-group" *ngIf="forma.errors?.sonIguales  && !forma.pristine">
                    <p class="text-danger">
                        Las contraseñas deben de ser iguales
                    </p>
                </div>



                <div class="row" style="margin-left: 30px">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input formControlName="condiciones" name="condiciones" id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> Estoy de acuerdo con los
                                <a href="#">términos</a>
                            </label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" style="margin-left: 0px">
                    <div class="col-md-4">
                        <button class="btn btn-success" type="submit">Crear</button>
                    </div>
                </div>
            </form>

            <div class="container">
                <h1>Listado de Cadenas</h1>

                <table class="table table-hover" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre del Programa</th>
                            <th>Nivel de Formación</th>
                            <th>Editar</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let programa of listPrograma">
                            <td>{{programa.nombrePrograma}}</td>
                            <td>{{programa.nivelFormacion}}</td>
                            <td>
                                <button class="btn btn-primary " (click)="updatePrograma()">
                                    Editar
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-basic " (click)="estadoPrograma()">
                                    Inactivar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<!-- Bootstrap 3.3.6 -->
<script src="../../bootstrap/js/bootstrap.min.js"></script>