<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Estados</h3>
            </div>
            <div class="box-body">

                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarEstado()" class="form-horizontal form-material" id="loginform" action="index.html">
                    <div class="box-body">
                        <label for="">
                                <h4> Crear Estado </h4>
                            </label>
                        <div class="form-group col-md-6">
                            <label>Ingrese nombre del estado:</label>
                            <input formControlName="nombreestado" name="nombreestado" type="text" class="form-control" id="nombreestado" style="width: 350px" required>
                        </div>
                    </div>

                    <div class=" box-footer ">
                        <button style="width: 150px" type="submit " class="btn btn-success ">Crear estado</button>
                    </div>
                </form>
            </div>
            <div class="box-header">
                <h3 class="box-title">Lista de estados</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Disponibilidad</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let est of estado">
                            <td>{{ est.nombre }}</td>
                            <td>
                                <label *ngIf="est.disponible" class="label label-info">Activo</label>
                                <label *ngIf="!est.disponible" class="label label-danger">Inactivo</label>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-info">Editar</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default ">Actival-Inactivar</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>